
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');




/* .borderd{
    border:2px solid green
} */
/* .capability{
    height: 700px;
    background: transparent;
    display: flex;
    align-items: center;
}
.background-buterfly{
    background-image: url("./assets/butterfly.png");
    background-repeat: no-repeat;
    background-position:  right bottom;
    background-size: contain;
    
} */


.model{
    height: 700px;
    background: transparent;
    display: flex;
    align-items: center;
}

.background-ant{
    background-image: url("./assets/int.webp");
    background-repeat: no-repeat;
    background-position:  left bottom;
    background-size: contain;  
}
.talent{
    height: 700px;
    background: transparent;
    display: flex;
    align-items: center; 
}

.talent-buterfly{
    background-image: url("./assets/duck.avif");
    background-repeat: no-repeat;
    background-position:  right bottom;
    background-size: contain;  
}
