

  .canva-section{
    color: black !important;
  }
  .canvas-box {
    border-radius: 12px;
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  
  .plus-icon {
    color: black;
    transition: transform 0.3s ease;
  }
  
  .canvas-box:hover .plus-icon {
    transform: rotate(90deg);
  }
  